<section class="contact">
  <div class="contact__container">
    <h1 class="contact__title">Свяжитесь с нами</h1>
    <div class="contact__text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt,
      dignissimos.
    </div>

    <div class="contact__wrapper">
      <mat-card class="contact__card card">
        <div class="card__image">
          <span class="material-icons-outlined"> map </span>
        </div>
        <div class="card__info">
          <div class="card__title">Адресс</div>
          <div class="card__text">
            Strada Mitropolit Petru Movilă 20, Chișinău
          </div>
        </div>
      </mat-card>
      <mat-card class="contact__card card">
        <div class="card__image">
          <span class="material-icons-outlined"> call </span>
        </div>
        <div class="card__info">
          <div class="card__title">Позвоните нам</div>
          <div class="card__text">
            +123 45 67 78 90
          </div>
        </div>
      </mat-card>
      <mat-card class="contact__card card">
        <div class="card__image">
          <span class="material-icons-outlined"> call </span>
        </div>
        <div class="card__info">
          <div class="card__title">Напишите нам</div>
          <div class="card__text">
            example@gmail.com
          </div>
        </div>
      </mat-card>
    </div>
    <!-- <div class="contact__wrapper">
      <div class="contact__block block">
        <div class="block__iamge">
          <span class="material-icons-outlined"> map </span>
        </div>
        <div class="block__info">
          <div class="block__title">Адресс</div>
          <div class="block__text">
            Strada Mitropolit Petru Movilă 20, Chișinău
          </div>
        </div>
      </div>
      <div class="contact__block block">
        <div class="block__iamge">
          <span class="material-icons-outlined"> call </span>
        </div>
        <div class="block__info">
          <div class="block__title">Позвоните нам</div>
          <div class="block__text">+123 45 67 78 90</div>
        </div>
      </div>
      <div class="contact__block block">
        <div class="block__iamge">
          <span class="material-icons-outlined"> email </span>
        </div>
        <div class="block__info">
          <div class="block__title">Напишите нам</div>
          <div class="block__text">example@gmail.com</div>
        </div>
      </div>
    </div> -->
  </div>
</section>

<section class="contact-form">
  <div class="contact-form__container">
    <div class="contact-form__question question">
      <h1 class="question__title">Есть вопрос? </h1>
      <h1 class="question__title">Отправьте его нам</h1>
      <div class="question__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio,
        eos!
      </div>
      <div class="question__call">
        <div class="image">
          <span class="material-icons-outlined "> person </span>
        </div>
        <div class="phone">
          <span>Есть вопрос?</span>
          <span>+373 23 82 54 09</span>
        </div>
      </div>
      <div class="question__schedule">
        <p>Понедельник - Пятница:</p>
        <p>9.00 - 6.00</p>
        <p>Суббота & Приаздники (Закрыто)</p>
      </div>
    </div>
    <div class="contact-form__form">
      <form>
        <div class="form-group">
          <input type="text" placeholder="Имя" />
          <input type="text" placeholder="Фамилия" />
        </div>

        <div class="form-group">
          <input type="text" placeholder="Телефон" />
          <input type="text" placeholder="Email" />
        </div>
        <textarea
          type="text"
          class="col-12"
          placeholder="Твое сообщение"
        ></textarea>
        <button mat-flat-button class="button">отправить</button>
      </form>
    </div>
  </div>
</section>

<section class="contact-map">
  <div class="contact-map__full-container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2931.579151308918!2d28.82318895177686!3d47.03225708064013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97dc9e52da021%3A0x54a13951eece69b0!2z0JvQuNGG0LXQuSDQuNC8LiDQkC7QoS4g0J_Rg9GI0LrQuNC90LA!5e0!3m2!1sru!2s!4v1676302870401!5m2!1sru!2s"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
