.products {
  padding-bottom: 80px;
  // .products__title
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 20px;
  }
  // .products__wrapper
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  .product {
    flex: 1 25%;

    max-width: 420px;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 8px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    // .product__image
    &__image {
      width: 100%;
      height: 272px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 32px;
      img {
        height: 200px;
      }
    }
    &__title {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1; /* number of lines to show */
      line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    // .product__price
    &__price {
      margin: 16px 0;
      font-weight: 700;
    }
    // .product__actions
    &__actions {
      display: flex;
      align-items: center;
      gap: 55px;
    }
    // .product__cart
    &__cart {
      background: var(--accent-color);
      color: #ffffff;
    }
    // .product__favorite
    &__favorite {
      color: #666666;
    }

    &:hover {
      box-shadow: 0 5px 15px rgb(0 0 0 / 25%);
      transform: scale(1.04);
    }
  }
}
