<header class="header">
  <div class="header__container">
    <a routerLink="home" class="header__logo">Logo</a>
    <div class="header__menu menu">
      <nav class="menu__body">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" routerLink="categories">Категории</a>
          </li>
          <li class="menu__item">
            <a class="menu__link">Мебель</a>
          </li>
          <li class="menu__item">
            <a class="menu__link">Доставка</a>
          </li>
          <li class="menu__item">
            <a class="menu__link">О нас</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" routerLink="contact">Свяжитесь с нами</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__actions">
      <button class="header__user" mat-icon-button (click)="openDialog()">
        <span class="material-icons-outlined"> person </span>
      </button>
      <a routerLink="cart" class="header__cart">
        <span class="material-icons-outlined" matBadge={{totalItems}}> shopping_cart </span>
      </a>
    </div>
  </div>
</header>
