<header class="header">
  <div class="header__container">
    <a routerLink="home" class="header__logo">Logo</a>
    <div class="header__menu menu">
      <nav class="menu__body">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link">Коллекции</a>
          </li>
          <li class="menu__item">
            <a class="menu__link">Мебель</a>
          </li>
          <li class="menu__item">
            <a class="menu__link">Освещение</a>
          </li>
          <li class="menu__item">
            <a class="menu__link">Аксессуары</a>
          </li>
          <li class="menu__item">
            <a class="menu__link">Свяжитесь с нами</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__actions">
      <a class="header__location">Москва</a>
      <button class="header__user">
        <span class="material-icons-outlined"> person </span>
      </button>
      <button class="header__favorite">
        <span class="material-icons-outlined"> favorite_border </span>
      </button>
      <a routerLink="cart" class="header__cart">
        <span class="material-icons-outlined" matBadge={{totalItems}}> shopping_cart </span>
      </a>
    </div>
  </div>
</header>
