<section class="banner">
  <div class="banner__full-container">
    <div class="banner__image">
      <img src="../assets/img/home/banner.png" alt="banner-image" />
    </div>
    <div class="banner__info">
      <div class="banner__title">Новая коллекция</div>
      <p class="banner__description">
        Наши новые поставки мебели в скандинавском стиле приятно вас удивят
      </p>
      <button class="banner__button btn">Смотреть</button>
    </div>
  </div>
</section>

<app-slider></app-slider>

<section class="products">
  <div class="products__container">
    <div class="products__title">Хиты продаж</div>
    <div class="products__wrapper">
      <mat-card *ngFor="let product of productList" class="product">
        <a class="product__image" [routerLink]="'/categories/'.concat(product.category)+'/'.concat(product.id)">
          <img [src]="product.image" alt="product-image" />
        </a>
        <div class="product__title">{{ product.title }}</div>
        <div class="product__price">${{ product.price }}</div>
        <div class="product__actions">
          <button
            mat-raised-button
            class="product__cart"
            (click)="onAddToCart(product)"
          >
            В корзину
            <span class="material-icons-outlined"> add </span>
          </button>
          <ng-template #addedToCart>
            <button [disabled]="product.inCart" mat-stroked-button>
              Добавлено
            </button>
          </ng-template>
          <button mat-icon-button class="product__favorite fav">
            <span class="material-icons-outlined"> favorite_border </span>
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</section>
<section class="subscription">
  <div class="subscription__container">
    <div class="subscription__info">
      Подпишитесь на нашу новостную рассылку и получите скидку 10% на первую
      покупку!
    </div>
    <div class="subscription__form">
      <form>
        <input type="text" placeholder="Введите ваш e-mail" />
        <button type="submit" class="btn">Подписаться</button>
      </form>
    </div>
  </div>
</section>
<!-- <section id="testimonials">
    <div class="title-text">
      <h4>Отзывы клиентов</h4>
      <h1>Что люди думают о нас</h1>
    </div>
    <div class="testimonials">
      <div class="testi-box">
        <div class="content">
          <img src="../assets/img/home/comments/quote.png" alt="" class="quote">
          <p>Был определенный бюджет на мебель для спальни, и я очень довольна, что смогла приобрести в этом магазине мебель из Италии за такие деньги.</p>
          <div class="user"><img src="../assets/img/home/comments/5a57571175536.jpg" alt="" style="width: 150px;">
            <div class="info">
              <h4>Ирина Велкина</h4>
              <i>@IrinaVelkina</i>
            </div>
          </div>
        </div>
      </div>
      <div class="testi-box">
        <div class="content">
          <img src="../assets/img/home/comments/quote.png" alt="" class="quote" >
          <p>Искал антивандальный обеденный стол, который раскладывался и становился бы в два раза больше.В этом магазине нашел. </p>
          <div class="user"><img src="/img/home/comments/д-7.jpg" alt="" style="width: 150px;height: 110px;">
            <div class="info">
              <h4>Борис Васильев</h4>
              <i>@BorisVas</i>
            </div>
          </div>
        </div>
      </div>
      <div class="testi-box">
        <div class="content">
          <img src="/img/home/comments/quote.png" alt="" class="quote">
          <p>Магазин, в котором есть что выбрать и купить, ассортимент большой.</p>
            <div class="user"><img src="/img/home/comments/800647.jpg" alt="" style="width: 150px;">
            <div class="info">
              <h4>Евгений Альсо</h4>
              <i>@EvgeniyAlso</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
