<section class="banner">
  <div class="banner__full-container">
    <div class="banner__image">
      <img src="../assets/img/home/banner.png" alt="banner-image" />
    </div>
    <div class="banner__info">
      <div class="banner__title">Новая коллекция</div>
      <p class="banner__description">
        Наши новые поставки мебели в скандинавском стиле приятно вас удивят
      </p>
      <button class="banner__button btn">Смотреть</button>
    </div>
  </div>
</section>

<app-slider></app-slider>

<section class="products">
  <div class="products__container">
    <div class="products__title">Хиты продаж</div>
    <div class="products__wrapper">
      <mat-card *ngFor="let product of productList" class="product">
        <div
          [routerLink]="
            '/categories/'.concat(product.category) + '/'.concat(product.id)
          "
        >
          <a class="product__image">
            <img [src]="product.image" alt="product-image" />
          </a>
          <div class="product__title">{{ product.title }}</div>
          <div class="product__price">${{ product.price }}</div>
        </div>
        <div class="product__actions">
          <button
            mat-raised-button
            class="product__cart"
            (click)="onAddToCart(product)"
          >
            В корзину
            <span class="material-icons-outlined"> add </span>
          </button>
          <ng-template #addedToCart>
            <button [disabled]="product.inCart" mat-stroked-button>
              Добавлено
            </button>
          </ng-template>
        </div>
      </mat-card>
    </div>
  </div>
</section>
<section class="subscription">
  <div class="subscription__container">
    <div class="subscription__info">
      Подпишитесь на нашу новостную рассылку и получите скидку 10% на первую
      покупку!
    </div>
    <div class="subscription__form">
      <form>
        <input type="text" placeholder="Введите ваш e-mail" />
        <button type="submit" class="btn">Подписаться</button>
      </form>
    </div>
  </div>
</section>
<section class="reviews">
  <div class="reviews__container">
    <div class="reviews__title">
      <h4>Отзывы клиентов</h4>
      <h1>Что люди думают о нас</h1>
    </div>

    <div class="reviews__wrapper">
      <div class="block">
        <div class="block__icon">
          <span class="material-icons"> format_quote </span>
        </div>
        <div class="block__info">
          Пользовались с женой этим магазином, всё очень понравилось. Сначала
          сомневались к незнакомым магазинам обращаться. Тут мне встретился это
          магазин и мы решили обратиться.Позвонили мы, по телефону мне сразу
          понравилось вежливое общение.Понравилось то ,то что прислушивались ко
          всем пожеланиям и посоветовали то что надо. Доставка быстрая, оформили
          заказ мгновенно
        </div>
        <div class="block__person person">
          <div class="person__image">
            <!-- <span class="material-icons-outlined"> person </span> -->
            <img
              src="https://cdn.discordapp.com/attachments/691760881092264038/1079406414159679578/hwejGacUte8.png"
              alt=""
            />
          </div>
          <div class="person__info">
            <h2>Николай Барвицкий</h2>
            <i>@NikooolaiB</i>
          </div>
        </div>
      </div>

      <div class="block">
        <div class="block__icon">
          <span class="material-icons"> format_quote </span>
        </div>
        <div class="block__info">
          Недостатков нет. Достоинства - цен, сроки доставки, качество работы,
          общение с клиентом. Все просто супер. Доставка была организована в
          срок. Монтажники молодцы, ребята работали слаженно, четко без проблем.
          Я в восторге осталась от своей кухни. Теперь дело за шкафами) Спасибо,
          Вам!
        </div>
        <div class="block__person person">
          <div class="person__image">
            <img
              src="https://cdn.discordapp.com/attachments/691760881092264038/1079403883757052015/kinogallery.png"
              alt=""
            />
          </div>
          <div class="person__info">
            <h2>Елена Мифас</h2>
            <i>@ElenaMifas</i>
          </div>
        </div>
      </div>

      <div class="block">
        <div class="block__icon">
          <span class="material-icons"> format_quote </span>
        </div>
        <div class="block__info">
          Когда выбирала диван в гостиную очень хотела выбрать удобную модель,
          которая сможет служить не только комфортным спальным местом для
          гостей, но еще и идеально дополнить интерьер самой комнаты. В каталоге
          интернет-магазина мебели ВашаКомната.РФ просмотрела несколько
          различных моделей, но по размерам и дизайну больше всего мне
          понравился и подошел универсальный прямой...
        </div>
        <div class="block__person person">
          <div class="person__image">
            <img
              src="https://cdn.discordapp.com/attachments/691760881092264038/1079405351583092746/1666790330_57-mykaleidoscope-ru-p-irina-valts-aktrisa-oboi-60.png"
              alt=""
            />
          </div>
          <div class="person__info">
            <h2>Ирина Велкина</h2>
            <i>@IrinaVelkina</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="video">
  <div class="video__container">
    <div class="video__title">Видео обзор о нашем магазине</div>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/72tOU229N5o"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</section>
