<section class="delivery">
  <div class="delivery__container">
    <div class="delivery__title">Доставка</div>
    <div class="delivery__text">
      На сегодняшний день все больше и больше покупок совершается в
      Интернет-магазинах. Во-первых, это просто, а во-вторых, быстро. Не
      нужно выходить из дома, когда тебе надо купить новый смартфон,
      телевизор или любой другой гаджет. Сделать заказ в он-лайн магазине
      Enter.online займет всего несколько минут: выбираете товар,
      оплачиваете его удобным вам способом, и мы доставим его вам в любую
      точку страны. Интернет магазины с доставкой Enter старается быть как
      можно ближе к своим клиентам. И для того, чтобы покупки были как
      можно приятнее, мы подготовили следующие виды доставки:
    </div>
    <div class="delivery__wrapper">
      <div class="block">
        <div class="block__number">1</div>
        <div class="block__text">
          Бесплатная доставка по Кишиневу при заказе от 200 леев
        </div>
        <div class="block__text">
          Бесплатная доставка по Молдове при заказе от 500 леев
        </div>
      </div>
      <div class="block">
        <div class="block__number">2</div>
        <div class="block__text">
          При заказе на сумму меньше, 200 леев, доставка составит всего 35
          леев по Кишиневу и 60 леев по Молдове.
        </div>
      </div>
    </div>
    <div class="delivery__text">
      Интересно, сколько времени занимает доставка товара? Доставка
      занимает от 1 дня до 3 дней по всей Республике Молдова
    </div>
    <div class="delivery__text">
      Вы можете заказать и оплатить любой товар и отправить его как
      подарок вашей второй половинке, родителям или детям - такой сюрприз
      понравится любому. Подарите не только лучшую технику, но и эмоции
      вашим любимым, ведь курьерская доставка подарка - это нечто
      необычное, новое и интересное.
    </div>
    <div class="delivery__banner">
      <h2>Бесплатная доставка по Москве и Области от 2999 RUB!</h2>
      <a href="home.html">Главная</a>
    </div>
    <div class="delivery__contact">
      <div class="to-contact">
        Если у вас еще остались вопросы,
        <a href="contact.html">напишите нам</a>
      </div>
      <div class="questions">
        <a href="">0 68 111 222</a> или <a href="">0 22 33 56 99</a> и мы
        ответим на все вопросы!
      </div>
    </div>
  </div>
</section>
