body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
:root {
  --accent-color: #db9969;
  // --accent-color: #3f50b5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

* img {
  max-width: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

[class*="__container"] {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.btn {
  background: var(--accent-color);
  transition: all .3s;

  &:hover {
    background-color: #c48252;
  }
}
