<div class="dialog">
  <button mat-icon-button class="close" matDialogClose>
    <span class="material-icons-outlined"> close </span>
  </button>

  <div class="icon">
    <span class="material-icons-outlined"> person </span>
  </div>
  <h2 class="title">Регестрация</h2>
  <form>
    <div class="block">
      <input type="text" cdkFocusInitial placeholder="Телефон" />
      <span class="material-icons-outlined"> call </span>
    </div>

    <div class="block">
      <input type="text" placeholder="Пароль" />
      <span class="material-icons-outlined"> key </span>
    </div>

    <div class="block">
      <input type="text" placeholder="Повторите пароль" />
      <span class="material-icons-outlined"> key </span>
    </div>

    <button mat-button class="form-btn">Зарегестрироваться</button>
  </form>
</div>
